/* Write your CSS here */
.div1 {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.h1 {
  font-size: 55px;
  font-weight: 700;
}
.div2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.input {
  font-size: 18px;
  height: 40px;
  width: 350px;
  background-color: transparent;
  border: 1px solid rgb(167, 164, 164);
  border-radius: 5px;
  padding: 10px;
}

.input2 {
  font-size: 19px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  height: 170px;
  width: 350px;
  background-color: transparent;
  border: 2px solid rgb(172, 167, 167);
}
.logo1 {
  margin-top: 120px;
  width: 400px;
  height: 340px;
}
.div3 {
  width: 77vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #cbd2d9;
}
.button {
  margin-top: 20px;
  color: white;
  width: 120px;
  border: 0px;
  border-radius: 1px;
  height: 50px;
  background-color: #0284c7;
}
.p1 {
  font-size: 18px;
  font-weight: 500;
}
.ul {
  margin-top: 10px;
  width: 80vw;
}

.h3 {
  font-size: 15px;
  font-weight: 700;
}

.span {
  color: white;
  border-radius: 2px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 15px;
  font-weight: 500;
  background-color: #0284c7;
  margin-right: 5px;
}
.like {
  width: 20px;
  height: 20px;
  color: pointer;
  margin-top: 10px;
}
.div5 {
  width: 60vw;
  display: flex;
  flex-direction: column; /* VERY IMPORTANT */
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 0;
  border-bottom: 1px solid #cbd2d9;
  margin: 20px;
}
.div6 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; /* Change from row → column */
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 15px;
  padding: 10px;
}
.p {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
}
.p3 {
  margin-top: 0px;
  font-size: 15px;
  font-weight: 500;
}
.delete {
  margin-left: 700px;
  margin-top: 10px;
  width: 20px;
  height: 20px;
}
.d {
  display: flex;
  flex-direction: row; /* Change from row → column */
  align-items: flex-start;
  justify-content: space-between;
}
