.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.delete {
  width: 40px;
  height: 40px;
}
.like {
  margin-top: 8px;
  width: 80px;
  height: 40px;
  margin-right: 10px;
  font-size: 20px;
}
.button1 {
  background-color: transparent;
  border: 0px;
}
.active {
  margin-top: 10px;
  background-color: #0ea5e9;
  width: 40px;
  height: 20px;
  border: none;
  font-size: 18px;
  color: #475569;
}
.non {
  color: #475569;
  margin-top: 10px;
  background-color: transparent;
  width: 40px;
  height: 20px;
  border: none;
  font-size: 18px;
}
.divl {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}
.ddd {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.li {
  list-style-type: none;
  border-bottom: 2px solid rgb(171, 167, 167);
  margin-bottom: 20px;
}
.h {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
}
.d2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.hh {
  margin-top: 0px;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.pp {
  margin-top: 0px;
  font-size: 17px;
  color: rgb(125, 121, 121);
  margin-left: 10px;
}
.date {
  margin-top: 5px;
  font-size: 14px;
  margin-left: 20px;
  color: #475569;
}
